#!/usr/bin/make -f

VERSION := $(shell dpkg-parsechangelog | sed -nr '/^Version:/s/Version: (.*:)?(.*)-(.*)/\2/p')

%:
	dh $@ --with dkms,modaliases

override_dh_install:
	dh_install core hal include Kconfig Makefile os_dep platform usr/src/rtl8812au-$(VERSION)/
	find debian/rtl8812au-dkms/usr/src/rtl8812au-$(VERSION) -type f -exec chmod 644 {} \;

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_auto_configure override_dh_auto_build override_dh_auto_test override_dh_auto_install override_dh_auto_c:
